.home > h1{
	text-align: center;
}

.img-container{
	width: 400px;
}

.moment-container{
	margin: 30px;
	text-align: center;
}

.home-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
